@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'nunito-sans';
  src: url('/src/assets/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .btn {
    @apply w-52 border-b-[1px] border-b-slate-500/50 h-10 text-white flex justify-center items-center;
  }
  .btn:active {
    @apply border-b-slate-200/50;
  }
  .btn:disabled {
    @apply bg-gray-500 cursor-not-allowed;
  }
} ;
